In [30]:
%load_ext sql
%sql postgresql://jupyter:jupyter@localhost/postgres

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [31]:
%%sql
CREATE TABLE test
(
    id SERIAL,
    vec VECTOR(3),
    sca INT,
    PRIMARY KEY (id)
);

 * postgresql://jupyter:***@localhost/postgres
Done.

[]

In [32]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://jupyter:jupyter@localhost/postgres')

In [33]:
from random import random

for x in range(0, 10):
    for y in range(0, 10):
        for z in range(0, 10):
            engine.execute("INSERT INTO test (vec, sca) VALUES ('[{}, {}, {}]', {});".format(x/10, y/10, z/10, round(random() * 100)))

In [34]:
%%sql
CREATE INDEX ivf_flat ON test (vec);

 * postgresql://jupyter:***@localhost/postgres
Done.

[]

In [35]:
%%sql
SELECT *, (vec <-> '[0.5, 0.5, 0.5]') AS dist
FROM test
ORDER BY vec <-> '[0.5, 0.5, 0.5]'
LIMIT 5;

 * postgresql://jupyter:***@localhost/postgres
5 rows affected.

[(556, '[0.5,0.5,0.5]', 68, 0.0),
 (555, '[0.5,0.5,0.4000000059604645]', 72, 0.09999999403953552),
 (456, '[0.4000000059604645,0.5,0.5]', 60, 0.09999999403953552),
 (546, '[0.5,0.4000000059604645,0.5]', 98, 0.09999999403953552),
 (557, '[0.5,0.5,0.6000000238418579]', 92, 0.10000002384185791)]

In [36]:
%%sql
DROP TABLE test;

 * postgresql://jupyter:***@localhost/postgres
Done.

[]